<%= form_with model: @task, remote: true do |form| %>
  <div>
    <%= form.label 'Новое задание' %>
    <%= form.text_field :title %>
    <%= form.rich_text_area :text %>
  </div>
  <%= form.submit 'Отправить' %>
<% end %>