<!DOCTYPE html>
<html>
  <head>
    <title>RubyLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>
        Курс "Парадигмы и технологии программирования: основы Ruby"
      </h1>
    </header>
    <div class="main_layout">
      <%= render "layouts/sidebar" %>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
