<!DOCTYPE html>
<html>
  <head>
    <title>RubyLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header id="header" data-turbo-permanent>
      <%= render partial: 'shared/navbar' %>
    </header>
    <div class="main_layout">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
