<!DOCTYPE html>
<html>
<head>
  <title>RubyLab</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <h1>
    Курс "Парадигмы и технологии программирования: основы Ruby"
  </h1>
</header>
<div class="main_layout">
  <%= render partial: "shared/sidebar" %>
  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>