<!DOCTYPE html>
<html>
<head>
  <title>RubyLab</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header id="header" data-turbo-permanent>
  <%= render partial: 'shared/navbar', locals: { nav_name: yield(:nav_name) } %>
</header>
<div class="main_layout">
  <%= render partial: "shared/sidebar" %>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
</div>
</body>
</html>